openapi: 3.1.0
info:
  title: Statusboard API
  version: 1.0.0
  description: |
    Monitor the status pages of many services in one place.

    ## Everything on a board is a component

    Each service has an overall component. Statusboard creates it. It has `is_overall: true`.
    It carries the provider's own top-level indicator.

    To track a service, track its overall component. To track one part of a service, track that
    component. Both are the same call with a different id.

    ## An archived component is not served

    A provider stops publishing a component. The row is archived rather than deleted, because
    somebody may be tracking it.

    Archived components are left out of every list, every count and the detail. The detail
    answers `404`, and so does tracking one.

    The one exception is `Service.overall_component`. A service whose rollup is archived still
    needs a status in its header.

    Three consequences follow. A tracked component that is archived leaves the board with no
    notice. An event names the components it affected, and a link to an archived one answers
    `404`. `Component.path` lists the ancestors that are served, so a breadcrumb can skip a
    level, and its last node is not always `Component.parent`. `parent` is the raw column and
    still names an archived row, so fetch a breadcrumb from `path`.

    ## Severity is the state

    `severity` is an integer from 0 to 5. Lower is worse. This matches the SEV0/SEV1 convention.

    Do not expect a status string. The client renders the label from the number.

    | severity | label |
    |---|---|
    | 0 | Major outage |
    | 1 | Partial outage |
    | 2 | Degraded |
    | 3 | Unknown. The provider was unreachable. |
    | 4 | Maintenance |
    | 5 | Operational |

    Filter severity as a number. `status__severity__lte=3` is everything needing attention.
    `status__severity=4` gives Maintenance.

    ## Status and incidents are different things

    A severity is the state the provider reports now. An incident is the provider's written
    record: a title, a log, and a workflow `phase`.

    The two move independently. A provider can monitor a fix while every component reads
    operational. A provider can report degraded with no incident open.

    Do not derive one from the other.

    ## One schema, one model, usually

    Every schema maps to one Django model, and every nested key is a real relation a
    `ModelSerializer` can traverse. Nest a related model under a key. Do not flatten it into the
    parent.

    | key | relation |
    | --- | --- |
    | `Service.status_page` | `OneToOneField` |
    | `Service.poller` | `OneToOneField` |
    | `Service.overall_component` | the `ServiceComponent` where `is_overall` |
    | `Component.status` | the `ComponentStatus` row where `ended_at` is null |
    | `Component.active_incident` | newest unresolved `ServiceEvent` with `kind=incident`, across the reverse M2M |
    | `Component.service` | `ForeignKey` |
    | `ServiceEvent.service` | `ForeignKey` |

    `status` is its own object because `ComponentStatus` is its own table. A `ModelSerializer`
    with a nested serializer produces these shapes directly.

    The rule applies transitively. A `Service` nests its overall component. It does not copy that
    component's status.

    **A second schema never exists to withhold fields.** `?fields=` does that, and the client
    chooses. One exists only to layer a value too expensive to compute for every row in a list.

    `allOf` appears where two schemas cover two models. It also appears where a detail schema
    layers that kind of value onto its own list row.

    Query parameters are declared in a `FilterSet`. Almost none is generated from a column of
    the same name. `is_overall` and `kind` are the two that are. `q` is no filter at all.
    `ComponentListView.filter_queryset` narrows on it before the backends run.

    So a parameter is not an ORM path, and a field's path in the response body does not build
    its filter. `service` takes a slug where the body carries a nested `ServiceRef`. `component`
    and `ancestor` name nothing in any body. `phase` takes `open` or `closed` where the body
    carries `investigating`.

    Read the operation's own parameter list instead. It says what each one takes and what it
    narrows.

    Eleven narrow the three collections: `q`, `service`, `ancestor`, `event`, `component`,
    `dashboard`, `is_tracked`, `phase`, and the three `status__severity` forms. The board list
    takes those three severity forms and nothing else.

    Two ordering values are declared as well, `suggested` and `next_transition`. Neither names a
    column. A view annotates the fields each one sorts on.

    Model field names are chosen to read well in a URL, because a field name appears in
    `?fields=`.

    ## Conventions

    Every endpoint that returns a body accepts `?fields=`. Name the fields you need, and the
    response contains those only. See the `fields` parameter.

    This is a base serializer and a default filter backend, not per-view code. A view opts out by
    setting `fields_param = None`.

    Lists return `{ aggregates, next, results }`. `aggregates` covers the whole collection, not
    the page. `ordering` follows DRF. Prefix a field with `-` to reverse it. GETs are ETagged.

    An `ordering` name the list does not declare answers `400`, as an unknown `fields` name
    does. `suggested` names its own directions, so `-suggested` answers `400` as well.

    ## Identity

    Every resource has a UUID. `Service` also has a stable `slug`. Public catalog routes use the
    slug, because people share those URLs during an outage.
servers:
  - url: https://statusboard.app/api
tags:
  - name: meta
  - name: auth
  - name: me
  - name: catalog
    description: Public. Services and their components.
  - name: status
    description: Public. The event feed, one collection for Home, a service and a component.
  - name: board

paths:
  /meta/:
    get:
      tags: [meta]
      summary: Server configuration
      description: Deployment-wide values the client needs but does not own — poll interval, page size, the severity map. Not user preferences.
      security: []
      parameters:
        - { $ref: '#/components/parameters/Fields' }
      responses:
        '200':
          description: OK
          content: { application/json: { schema: { $ref: '#/components/schemas/Meta' } } }

  /auth/magic-link/:
    post:
      tags: [auth]
      summary: Send a sign-in link
      description: Throttled per email and per IP. Always 202, even for unknown addresses.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, required: [email], properties: { email: { type: string, format: email } } }
      responses:
        '202': { description: Accepted }
        '400':
          description: |
            No email address in the body. A bare `detail` string, hand rolled here — not the
            `Error` shape, so there is no `code` to branch on.
          content:
            application/json:
              schema: { type: object, properties: { detail: { type: string } } }
        '429': { $ref: '#/components/responses/Throttled' }
  /auth/verify/:
    post:
      tags: [auth]
      summary: Exchange a link token for a token pair
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, required: [token], properties: { token: { type: string } } }
      parameters:
        - { $ref: '#/components/parameters/Fields' }
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/TokenPair' } } } }
        '400': { $ref: '#/components/responses/Error' }
  /auth/refresh/:
    post:
      tags: [auth]
      summary: Rotate the refresh token
      security: []
      parameters:
        - { $ref: '#/components/parameters/Fields' }
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/TokenPair' } } } }
  /auth/logout/:
    post:
      tags: [auth]
      summary: Blacklist the refresh token
      responses:
        '200':
          description: Blacklisted. The body is an empty object.
          content: { application/json: { schema: { type: object } } }

  /me/:
    get:
      tags: [me]
      summary: The signed-in user
      description: |
        This resource has no theme field. Theme is per device. Store it in local storage.
        Poll interval is deployment-wide. Read it from `/meta/`.
      parameters:
        - { $ref: '#/components/parameters/Fields' }
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/Me' } } } }
    delete:
      tags: [me]
      summary: Delete the account
      description: Removes the dashboard, its tracked components and the user. Catalog and status data are untouched — they are not personal.
      responses: { '204': { description: No content } }

  /catalog/import/:
    post:
      tags: [catalog]
      summary: Import a service from its status page URL
      description: |
        The importer detects the provider. If the service is new, it creates the service and its
        components. It returns the service either way: `201` when it created one, `200` when the
        URL already resolved to one.

        Services are deduplicated on a normalised URL. One status page gives one service and one
        poll.

        Nothing is stored about the attempt itself.
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, required: [status_page_url], properties: { status_page_url: { type: string, format: uri } } }
      parameters:
        - { $ref: '#/components/parameters/Fields' }
      responses:
        '200':
          description: The URL resolves to a service already in the catalog
          content: { application/json: { schema: { $ref: '#/components/schemas/Service' } } }
        '201':
          description: Service created
          content: { application/json: { schema: { $ref: '#/components/schemas/Service' } } }
        '400':
          description: |
            Two failures share this code. A missing or malformed `status_page_url` answers a
            field-errors object, one array of messages per field name. A URL no adapter can
            read answers the `Error` shape with `code: no_status_page_found`. Branch on
            whether `code` is present.
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    additionalProperties: { type: array, items: { type: string } }
                  - $ref: '#/components/schemas/Error'
        '429': { $ref: '#/components/responses/Throttled' }
        '502':
          description: |
            The provider did not answer. `code: provider_unreachable`. The URL may still be a
            status page, so this is worth retrying and `400` is not.
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }

  /catalog/requests/:
    post:
      tags: [catalog]
      summary: Ask us for a status page we could not read
      description: |
        The Add-by-URL not-found screen. Always `202`, whether or not the catalog already
        holds the URL, so asking cannot reveal what we have.

        One row per URL, counted. Throttled per caller.

        Signing in is optional. A signed-in asker is recorded on the row.
      security: [{}, { bearer: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, required: [url], properties: { url: { type: string, format: uri } } }
      responses:
        '202': { description: Recorded }
        '400':
          description: |
            Missing or malformed url. A field-errors object, one array of messages per
            field name — not the `Error` shape, which this response never raises.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: { type: array, items: { type: string } }
        '429': { $ref: '#/components/responses/Throttled' }

  /catalog/components/:
    get:
      tags: [catalog]
      summary: Search and list components
      description: |
        One collection, four screens. Discover with no parameters, a service's parts with
        `service`, a component's descendants with `ancestor`, an event's affected list with
        `event`.

        `q` matches part of a component's name, its service's name, or its parent's. So `twilio`
        finds `SMS`, and so does `messaging`. The parent is one level: a grandparent's name does
        not reach it. Several words are an AND. The service rollup leads the results. Without `q`
        the default is `suggested`, except under `service`, where it is `status_page_order`.

        Archived components are never listed. An event whose only affected component was archived
        returns an empty page.
      security: [{}, { bearer: [] }]
      parameters:
        - { name: q, in: query, schema: { type: string } }
        - { name: service, in: query, schema: { type: string }, description: Service slug }
        - { name: ancestor, in: query, schema: { type: string, format: uuid }, description: Every descendant, at any depth }
        - { name: event, in: query, schema: { type: string, format: uuid }, description: The components this event affects }
        - { name: is_overall, in: query, schema: { type: boolean }, description: '`true` is one row per service, which is signed-out Home.' }
        - { name: is_tracked, in: query, schema: { type: boolean }, description: 'Authenticated only. Drives Showing All / Tracked / Untracked.' }
        - { name: status__severity, in: query, schema: { type: integer, minimum: 0, maximum: 5 } }
        - { name: status__severity__lte, in: query, schema: { type: integer, minimum: 0, maximum: 5 } }
        - { name: status__severity__in, in: query, schema: { type: string }, description: 'Comma separated, for a Severity filter offering every value at once.' }
        - { name: ordering, in: query, schema: { type: string, enum: [suggested, status_page_order, -status_page_order, status__severity, -status__severity, name, -name, updated_at, -updated_at], default: suggested } }
        - { $ref: '#/components/parameters/PageSize' }
        - { $ref: '#/components/parameters/Cursor' }
        - { $ref: '#/components/parameters/Fields' }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      aggregates: { $ref: '#/components/schemas/StatusAggregates' }
                      results: { type: array, items: { $ref: '#/components/schemas/Component' } }
        '400': { $ref: '#/components/responses/RejectedParameter' }

  /catalog/components/{uuid}/:
    get:
      tags: [catalog]
      summary: Component detail
      description: |
        `404` for an archived component, as well as for one that never existed. A provider
        stopped publishing it, so no screen holds it.
      security: [{}, { bearer: [] }]
      parameters:
        - { $ref: '#/components/parameters/Uuid' }
        - { $ref: '#/components/parameters/Fields' }
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/Component' } } } }
        '404': { $ref: '#/components/responses/Error' }

  /catalog/services/{slug}/:
    get:
      tags: [catalog]
      summary: Service detail
      security: [{}, { bearer: [] }]
      parameters:
        - { $ref: '#/components/parameters/Slug' }
        - { $ref: '#/components/parameters/Fields' }
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/Service' } } } }
        '404': { $ref: '#/components/responses/Error' }

  /events/:
    get:
      tags: [status]
      summary: The event feed
      description: |
        One feed, three scopes. Home with `dashboard`, a service with `service`, a component
        with `component`.

        `phase` takes `open` or `closed`. The line between them is `CLOSED_PHASES` in the
        code, so a client never restates which phases are terminal.
      security: [{}, { bearer: [] }]
      parameters:
        - { name: dashboard, in: query, schema: { type: string, format: uuid }, description: Requires auth, and must be your own }
        - { name: service, in: query, schema: { type: string }, description: Service slug }
        - { name: component, in: query, schema: { type: string, format: uuid } }
        - { name: kind, in: query, schema: { type: string, enum: [incident, maintenance] } }
        - { name: phase, in: query, schema: { type: string, enum: [open, closed] }, description: 'Render the label from `/meta/` `enums.event_phase_state`.' }
        - { name: ordering, in: query, schema: { type: string, enum: [-starts_at, starts_at, ends_at, -ends_at], default: -starts_at } }
        - { $ref: '#/components/parameters/Fields' }
        - { $ref: '#/components/parameters/Cursor' }
        - { $ref: '#/components/parameters/PageSize' }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      aggregates: { $ref: '#/components/schemas/EventAggregates' }
                      results: { type: array, items: { $ref: '#/components/schemas/ServiceEvent' } }
        '400': { $ref: '#/components/responses/RejectedParameter' }

  /events/{uuid}/:
    get:
      tags: [status]
      summary: One event
      security: []
      parameters:
        - { $ref: '#/components/parameters/Uuid' }
        - { $ref: '#/components/parameters/Fields' }
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/ServiceEventDetail' } } } }
        '404': { $ref: '#/components/responses/Error' }
  /events/{uuid}/updates/:
    get:
      tags: [status]
      summary: One event's log, oldest first
      description: Its own operation because a provider's log has no ceiling.
      security: []
      parameters:
        - { $ref: '#/components/parameters/Uuid' }
        - { $ref: '#/components/parameters/Fields' }
        - { $ref: '#/components/parameters/Cursor' }
        - { $ref: '#/components/parameters/PageSize' }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      aggregates: { $ref: '#/components/schemas/Aggregates' }
                      results: { type: array, items: { $ref: '#/components/schemas/EventUpdate' } }

  /dashboards/{uuid}/components/:
    get:
      tags: [board]
      summary: The components tracked on this dashboard
      description: |
        Filtering, sorting and pagination are server-side without exception. Nothing assumes a
        board is small.

        An archived component drops off the board. The item stays tracked, so the row returns if
        the provider publishes the component again.
      parameters:
        - { $ref: '#/components/parameters/Uuid' }
        - { name: status__severity__lte, in: query, schema: { type: integer } }
        - { name: status__severity, in: query, schema: { type: integer } }
        - { name: status__severity__in, in: query, schema: { type: string }, description: 'Comma separated, for a Severity filter offering every value at once.' }
        - name: ordering
          in: query
          schema: { type: string, enum: [status__severity, -status__severity, name, -name, updated_at, -updated_at, next_transition], default: status__severity }
          description: |
            `next_transition` sorts by the next maintenance step. It uses `ends_at` for a running
            window and `starts_at` for one that has not started. Running windows sort first. This
            ordering is declared, not generated.
        - { $ref: '#/components/parameters/PageSize' }
        - { $ref: '#/components/parameters/Cursor' }
        - { $ref: '#/components/parameters/Fields' }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      aggregates: { $ref: '#/components/schemas/StatusAggregates' }
                      results: { type: array, items: { $ref: '#/components/schemas/Component' } }
        '400': { $ref: '#/components/responses/RejectedParameter' }
    post:
      tags: [board]
      summary: Track a component
      description: One component per call. Add-all is the client repeating it; there is no bulk variant to choose between.
      parameters:
        - { $ref: '#/components/parameters/Uuid' }
        - { $ref: '#/components/parameters/Fields' }
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, required: [component_id], properties: { component_id: { type: string, format: uuid } } }
      responses:
        '201': { description: Created, content: { application/json: { schema: { $ref: '#/components/schemas/Component' } } } }
        '200': { description: 'Already tracked. Tracking twice is not an error.', content: { application/json: { schema: { $ref: '#/components/schemas/Component' } } } }
        '404': { description: 'No such board, or no such component. An archived component is not tracked.' }

  /dashboards/{uuid}/components/{component_id}/:
    delete:
      tags: [board]
      summary: Stop tracking a component
      description: Addressed by the component's id — the one the client already has from the row it is looking at.
      parameters:
        - { $ref: '#/components/parameters/Uuid' }
        - { name: component_id, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        '204': { description: No content }
        '404': { description: Not tracked }

components:
  securitySchemes:
    bearer: { type: http, scheme: bearer, bearerFormat: JWT }
  parameters:
    Cursor: { name: cursor, in: query, schema: { type: string }, description: Opaque keyset cursor from `next` }
    Fields:
      name: fields
      in: query
      required: false
      schema: { type: string }
      example: id,name,overall_component.status.severity
      description: |
        Comma-separated list of fields to return. Omit to get every field.

        Use a dotted path for a nested field. `overall_component.status.severity` returns
        `overall_component` containing `status` containing `severity` only.

        A dotted path reaches into `enums` on `/meta/` too. `enums.severity` returns that one
        label map. `enums` alone returns all of them.

        A path that names an unknown field returns `400`. The body is a field-errors object,
        one array of messages under `fields` — not the `Error` shape.
    PageSize: { name: page_size, in: query, schema: { type: integer, default: 50, minimum: 1, maximum: 200 } }
    Slug: { name: slug, in: path, required: true, schema: { type: string }, example: twilio }
    Uuid: { name: uuid, in: path, required: true, schema: { type: string, format: uuid } }
  responses:
    Throttled:
      description: Rate limited
      headers: { Retry-After: { schema: { type: integer } } }
      content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }
    Error:
      description: Error
      content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }
    RejectedParameter:
      description: |
        A query parameter names something the list does not serve, or carries a value it
        cannot read. `fields`, `ordering` and every filter refuse the same way, so a client
        branches once.

        The body is a field-errors object, one array of messages keyed by the parameter
        name. It is not the `Error` shape.
      content:
        application/json:
          schema:
            type: object
            additionalProperties: { type: array, items: { type: string } }
  schemas:
    Error:
      type: object
      properties:
        code: { type: string, enum: [throttled, provider_unreachable, no_status_page_found, invalid_or_expired_token, not_found] }
        detail: { type: string }
    Meta:
      type: object
      description: Deployment-wide configuration. Nothing here is a user preference.
      properties:
        poll_interval_seconds:
          type: integer
          example: 300
          description: |
            The default interval for a healthy service. Settings shows it.

            A single service can differ. Read `Service.poller.interval_seconds` for that
            service's effective interval.
        poll_cooldown_seconds:
          type: integer
          example: 60
          description: |
            The default shortest gap between two reads of one page. A single page can differ;
            read `Service.poller.cooldown_seconds` for that page's value.
        default_page_size: { type: integer, example: 50 }
        max_page_size: { type: integer, example: 200 }
        enums:
          type: object
          description: |
            Every fixed set the API uses, as value-to-label maps. One source, so a client never
            carries its own copy and a new value reaches every screen without a release.

            Each key matches the field it belongs to.
          properties:
            severity:
              type: object
              additionalProperties: { type: string }
              description: '{"0": "Major outage", "1": "Partial outage", … "5": "Operational"}'
            status_source:
              type: object
              additionalProperties: { type: string }
              description: '{"provider": "Published by the provider", "components": "Worst of its components", "incidents": "Derived from open incidents"}'
            status_page_provider:
              type: object
              additionalProperties: { type: string }
              description: '{"statuspage": "Atlassian Statuspage", "instatus": "Instatus", "betterstack": "Better Stack", "rss": "RSS feed"}'
            event_kind:
              type: object
              additionalProperties: { type: string }
              description: '{"incident": "Incident", "maintenance": "Maintenance"}'
            event_phase:
              type: object
              additionalProperties: { type: string }
              description: |
                Both sets, keyed by kind:
                `{"incident": {"detected": "Detected", …}, "maintenance": {"scheduled": "Scheduled", …}}`
            event_phase_state:
              type: object
              additionalProperties: { type: string }
              description: |
                What the `phase` filter on `/events/` takes:
                `{"open": "Open", "closed": "Closed"}`. Which phases are terminal stays on
                the server, so a client labels the control from here.
            event_source:
              type: object
              additionalProperties: { type: string }
              description: '{"provider": "Provider", "system": "Statusboard"}'
    TokenPair:
      type: object
      properties:
        access: { type: string, description: 15 minutes }
        refresh: { type: string, description: 30 days, rotating }
    Me:
      type: object
      properties:
        id: { type: string, format: uuid }
        email: { type: string, format: email }
        default_dashboard_id:
          type: string
          format: uuid
          description: |
            The dashboard where `is_default` is true. Use it on
            `/dashboards/{uuid}/components/`.

            One per user in v1. The name survives a second board arriving.
    Envelope:
      type: object
      description: |
        Every list response has the same three keys. `aggregates` covers the whole collection.
        `results` is the page. `next` is the cursor.

        A list endpoint composes this with its own `aggregates` and `results`. Every aggregate
        schema extends `Aggregates`, so `aggregates.total` is readable without knowing the
        endpoint. See `StatusAggregates` and `EventAggregates`.

        `aggregates` is not declared here. Declaring the base type and then overriding it puts the
        property in the schema twice, and a reader is shown the base rather than the one the
        endpoint returns.

        Do not add a collection-wide value at the top level. Put it in `aggregates`.
      properties:
        next:
          type: string
          nullable: true
          description: Cursor for the next page. Null on the last page.
    Aggregates:
      type: object
      description: |
        The base every aggregate block shares. An endpoint extends it. Read `aggregates.total`
        without knowing the endpoint.
      properties:
        total: { type: integer, description: Size of the whole collection, not the page. }
    StatusAggregates:
      allOf:
        - $ref: '#/components/schemas/Aggregates'
        - type: object
          description: For any list of components. Discover, a service's parts, a board.
          properties:
            by_severity:
              type: object
              additionalProperties: { type: integer }
              description: |
                Keys are severities 0–5. Sorting and the dot read from this. No tab is a severity.
            next_refresh_at:
              type: string
              format: date-time
              nullable: true
              description: |
                The soonest scheduled check across the collection — the earliest
                `Service.poller.next_at`. Null if nothing here is being polled.

                The header pill reads "2 min ago" from `oldest_refreshed_at` and, on hover, "next
                check in 3 min" from this. There is no refresh control, so this is how a reader
                learns when the number improves.
            oldest_refreshed_at:
              type: string
              format: date-time
              nullable: true
              description: |
                The oldest refresh time in the collection. The header shows it. "2 min ago" means
                no item is older than two minutes. This covers the whole collection, not the page.
    EventAggregates:
      allOf:
        - $ref: '#/components/schemas/Aggregates'
        - type: object
          properties:
            by_phase:
              type: object
              additionalProperties: { type: integer }
              description: Keys are every phase present. The Incidents tab count is the sum of the unresolved ones.
    StatusPage:
      type: object
      description: |
        Where a service's data is read from. Identity only — how it is read is the `Poller`.
      properties:
        url: { type: string, format: uri }
        provider:
          type: string
          enum: [statuspage, instatus, betterstack, rss]
          description: |
            The adapter that reads this page. Render the label from `/meta/`
            `enums.status_page_provider`.
    Poller:
      type: object
      description: |
        How a service is read: how often, when next, and how that is going.

        It reads the service's `status_page` but holds no reference to it, so swapping a page
        changes nothing here.
      properties:
        interval_seconds:
          type: integer
          description: |
            How often this service is read now. The About tab shows it as "Refreshed every".

            Computed: the poller's own override if set, otherwise the `/meta/` default, scaled by
            the current backoff.
        cooldown_seconds:
          type: integer
          description: |
            The shortest gap allowed between two reads of this service's page.

            The cooldown is on the service, not on a user or a board. Two boards that track it
            cost one read.
        last_success_at:
          type: string
          format: date-time
          nullable: true
          description: |
            When the page was last read without error. Null until the first success.

            One read covers every component, so `Status.last_refreshed_at` is this value.
        next_at: { type: string, format: date-time, nullable: true, description: When the scheduler reads it next. }
        consecutive_failure_count:
          type: integer
          description: |
            How many reads have failed in a row. Zero after a success.

            It drives the backoff that scales `interval_seconds`, and tips a component to severity
            3 once the data is too stale to trust. Read it with `last_success_at` to say why a
            status is unknown.
        is_paused: { type: boolean, description: Polling is stopped for this service. }
    Status:
      type: object
      description: |
        The state the provider reports now.

        `ComponentStatus` is append-only, one row per severity change. Each row is an interval;
        this is the open one, where `ended_at` is null.

        It is unrelated to incident phase.
      properties:
        severity:
          type: integer
          minimum: 0
          maximum: 5
          description: |
            Lower is worse. An `IntegerChoices` class, which is where `/meta/` `enums.severity` gets its labels. Render from there, not from a copy in the client.
        source:
          type: string
          enum: [provider, components, incidents]
          description: |
            Where this severity comes from.

            A `TextChoices` class, so a new value is one line and reaches the schema, the admin
            and validation together.

            `provider` — the provider publishes this status. Trust it.

            `components` — the provider publishes component statuses but no top-level indicator.
            This is the worst severity among the components. Only the overall component uses it.

            `incidents` — the provider publishes incidents only, with no status of any kind. An
            open incident gives severity 2. No open incident gives severity 5. The feed does not
            say how bad it is, so no other severity is inferred.

            A screen that shows a derived status says so. "Degraded" from a published indicator
            and "Degraded" because an RSS entry exists are different claims.
        started_at: { type: string, format: date-time, description: When it entered this severity }
        ended_at:
          type: string
          format: date-time
          nullable: true
          description: |
            When it left this severity. **Always null here**, because this is the open row.

            `ComponentStatus` is append-only and each row is an interval; a closed row carries the
            time it ended. Reading `ended_at: null` is how you know you are looking at the current
            state and not a historical one.
        last_refreshed_at:
          type: string
          format: date-time
          description: |
            When this severity was last confirmed. It is the service's
            `status_page.poll_last_success_at`, because one fetch reads every component of a service.

            It is not stored per component. Doing so would mean a write for every component on
            every poll, and `ComponentStatus` only writes when severity changes.
    Service:
      type: object
      properties:
        id: { type: string, format: uuid }
        slug: { type: string }
        name: { type: string }
        homepage_url:
          type: string
          format: uri
          nullable: true
          description: The service's own site. The About tab links to it as "Website".
        logo:
          type: string
          format: uri
          nullable: true
          description: |
            The poller takes this from the provider's page. It uses the favicon or `og:image`.

            The poller discards a favicon that belongs to the parent company and not the product.
            The field is then null. The client shows the service initial instead.
        component_count:
          type: integer
          description: |
            How many components the provider publishes. The overall component is not counted, so
            this number equals the one on the provider's own status page.
        status_page: { $ref: '#/components/schemas/StatusPage' }
        poller: { $ref: '#/components/schemas/Poller' }
        overall_component:
          allOf: [{ $ref: '#/components/schemas/Component' }]
          description: |
            The service's own status *is* its overall component's, so this is that component
            rather than a copy of its fields. One FK, one nested serializer.

            It is a plain `Component`, the same shape a component has anywhere else, so one
            renderer draws every row. Five of its fields follow from what an overall component is:
            `parent` is null, `path` is empty, `descendant_count` is 0, `is_overall` is true, and
            `name` is the service name. They are returned rather than omitted. A client that
            special-cased them would need a second renderer to gain nothing.

            This is the one place an archived component is served. A provider can stop publishing
            its top-level indicator, and the header still needs a status. Read `archived_at` here.

            Read severity at `overall_component.status.severity`. The filter uses the same path.
        tracked_component_count:
          type: integer
          nullable: true
          description: |
            The number of this service's components on your board. The overall component counts.

            A value above 0 means the service is on your board. This differs from
            `overall_component.is_tracked`, which covers the overall component only.
        in_catalog_since:
          type: string
          format: date
          description: |
            When the service entered the catalog. The About tab shows it.

            It is not when you started tracking. The app has held the service since this date;
            your board is separate.
    PathNode:
      type: object
      description: One step above a component, and enough to link to it.
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        is_overall: { type: boolean, description: 'The service rollup. A client draws this step as the service.' }

    Component:
      type: object
      properties:
        id: { type: string, format: uuid, description: Track or untrack this component by this id. }
        name:
          type: string
          description: |
            The component's own name. For the overall component it is `"All services"`.

            Use this name on a service screen. On a board row, show the service name instead, with
            `"Overall status"` below it. Select with `is_overall`. The API sends one name only.
        path:
          type: array
          description: |
            Every component above this one that is served, top down. Each step carries its own
            id, so a client builds a breadcrumb it can click and every node here is fetchable.
            Empty on the overall component, which is under nothing.

            An archived ancestor is left out. The chain is then shorter than the real tree, and
            its last node is not `parent`. It is never broken, so nothing needs a placeholder.
          items: { $ref: '#/components/schemas/PathNode' }
        parent: { type: string, format: uuid, nullable: true }
        descendant_count:
          type: integer
          description: |
            How many components sit anywhere under this one. A component is a group when this
            is above zero. There is no is_group flag.

            Always 0 on the overall component. It is a peer of the top-level components, not
            their parent. A database trigger refuses a component parented under it. The count
            is a guarantee, not just what the data happens to hold.
        is_overall: { type: boolean, description: The component Statusboard creates per service, carrying the provider's top-level indicator. Always first, parent is null. }
        archived_at: { type: string, format: date-time, nullable: true, description: 'When the provider stopped publishing the component. An archived component is not served, so this is null everywhere but `Service.overall_component`.' }
        status: { $ref: '#/components/schemas/Status' }
        upcoming_maintenance:
          allOf: [{ $ref: '#/components/schemas/EventRef' }]
          description: |
            The soonest maintenance window that names this component and has not ended — a
            `ServiceEvent` with `kind=maintenance`. Null if there are none.

            **"Upcoming" includes a window already running.** The Maintenance tab shows both
            "ends in 2 hrs" and "in 3 days", so the field covers anything not yet finished, not
            only work that has still to start.

            Finished windows are excluded. A window that ran last March is not something a row
            reports, and including them would make "soonest" mean the oldest one on record.

            A card shows this one. Windows are never merged into a combined span — two windows a
            week apart are two facts, and a merged one would be true of neither.

            A provider schedules maintenance against the service and names the components it
            touches, often naming none. On the **overall** component this covers every window in
            the service, which is where an unnamed one appears.
        upcoming_maintenance_count:
          type: integer
          description: |
            How many unfinished windows name this component. A card shows the soonest and adds
            "+2 more" from this.

            It counts the same set `upcoming_maintenance` is drawn from. A count over a wider set
            than the item beside it produces "+3 more" pointing at nothing a screen can reach.

            The full list is not on the component. History is unbounded, and a row renders from
            the soonest plus this count. Read the list from
            `GET /events/?component={uuid}&kind=maintenance&phase=open` when a screen needs it.
            Without `phase=open` that call returns every window ever, which this never counts.
        active_incident:
          allOf: [{ $ref: '#/components/schemas/EventRef' }]
          description: |
            The most recently started **unresolved** incident affecting this component. Null if
            there is none.

            Resolved incidents are excluded. A row reports what is wrong now, and time since the
            last problem is already `status.started_at`.

            A provider names the components an incident affects. On the **overall** component this
            is the most recent unresolved incident anywhere in the service.
        active_incident_count:
          type: integer
          description: |
            How many unresolved incidents affect this component. A card shows `active_incident`
            and adds "+1 more" from this.

            It counts the same set `active_incident` is drawn from.

            On the **overall** component this counts every unresolved incident in the service.
        service:
          allOf: [{ $ref: '#/components/schemas/ServiceRef' }]
          description: |
            The service that publishes this component. A board mixes services, so a row reads its
            logo and name from here.

            It is always present, including on a service's own components, where every row repeats
            the same service. Pass `?fields=` to leave it out there.
        is_tracked: { type: boolean, nullable: true }
    EventRef:
      type: object
      nullable: true
      description: |
        A `ServiceEvent` as it appears on a component. A subset with no `updates` array, so a list
        row costs one title and not a log.
      properties:
        id: { type: string, format: uuid }
        kind: { type: string, enum: [incident, maintenance] }
        title: { type: string }
        phase: { type: string, description: 'Valid values depend on `kind`. Render from `/meta/` `enums.event_phase`.' }
        starts_at: { type: string, format: date-time, description: When it began, or when the window opens. }
        ends_at: { type: string, format: date-time, nullable: true, description: When it resolved, or when the window closes. }
    ServiceEvent:
      type: object
      description: |
        A provider's narrative record — an incident or a scheduled maintenance. Providers publish
        both as one object, so this is one schema with a `kind`.

        `phase` is workflow, not state. It is unrelated to `severity`.
      properties:
        id: { type: string, format: uuid }
        kind:
          type: string
          enum: [incident, maintenance]
          description: Render the label from `/meta/` `enums.event_kind`.
        title: { type: string }
        phase:
          type: string
          description: |
            `detected, investigating, identified, monitoring, resolved` for an incident.
            `scheduled, in_progress, verifying, completed` for maintenance.

            Render the label from `/meta/` `enums.event_phase`, keyed by `kind`.
        starts_at: { type: string, format: date-time, description: When it began, or when the window opens. }
        ends_at: { type: string, format: date-time, nullable: true, description: When it resolved, or when the window closes. }
        detected_by:
          type: string
          enum: [provider, system]
          description: |
            Who opened it: the provider's own page, or this deployment noticing a severity drop
            first. Never rewritten by a later claim. Render the label from `/meta/`
            `enums.event_source`.
        service: { $ref: '#/components/schemas/ServiceRef' }
    ServiceEventDetail:
      allOf:
        - $ref: '#/components/schemas/ServiceEvent'
        - type: object
          description: |
            The event screen's header. Both counts are here because the header draws both tab
            badges before either tab has made a request.
          properties:
            update_count: { type: integer }
            affected_count: { type: integer, description: 'The Affects badge. Archived components are left out, the same as the tab it labels. It can be 0.' }
            last_update_at: { type: string, format: date-time, nullable: true }
    EventUpdate:
      type: object
      description: One posted update within an event's timeline.
      properties:
        phase: { type: string }
        body: { type: string }
        posted_at: { type: string, format: date-time }
        source:
          type: string
          enum: [provider, system]
          description: |
            Who wrote this update. `system` is a severity change we recorded ourselves.
            Render the label from `/meta/` `enums.event_source`.
    ServiceRef:
      type: object
      properties:
        id: { type: string, format: uuid }
        slug: { type: string }
        name: { type: string }
        logo: { type: string, nullable: true }
