openapi: 3.1.0
info:
  title: Statusboard API
  version: 1.0.0
  description: |
    One place to see whether the services you depend on are working.

    ## Everything on a board is a component

    Each service has an **overall component** that Statusboard creates, `is_overall: true`,
    carrying the provider's own top-level indicator. So "track Twilio" and "track Twilio SMS" are
    the same call with a different id. There is no service-versus-component branch anywhere.

    ## Severity is the state

    `severity` is an integer, 0–5, and **lower is worse** — matching the SEV0/SEV1 convention.
    There is no parallel status string: the label is a client-side render of the number, so the two
    can never disagree.

    | severity | label |
    |---|---|
    | 0 | Major outage |
    | 1 | Partial outage |
    | 2 | Degraded |
    | 3 | Unknown — we could not reach the provider |
    | 4 | Maintenance |
    | 5 | Operational |

    Filter it numerically. `severity_lte=3` is the Outages chip; `severity=4` is Maintenance.

    ## Status and incidents are different things

    A **severity** is the current state a provider reports. An **incident** is that provider's
    narrative record — a title and a running log — with a workflow `phase`. They move
    independently: a provider can be `monitoring` a fix while every component reads operational,
    or report degraded with no incident open. Neither is derived from the other.

    ## One schema, one model

    Every schema maps to a single Django model, and related models are **nested under a key**
    rather than flattened into the parent. `status` is its own object because `ComponentStatus`
    is its own table — so a `ModelSerializer` with a nested serializer produces these shapes
    directly, with no hand-assembled fields.

    `allOf` appears only where a serializer *subclasses* another over the same model
    (`ServiceDetail` extends `Service`, `TrackedComponent` extends `Component`). It never
    merges two models into one flat object.

    Query parameters stay flat and readable even though the field is nested — `severity_lte`
    filters `status__severity` via a declared `django_filters.NumberFilter`, and
    `ordering=severity` maps to `status__severity`. The URL should not leak the join.

    ## Conventions

    Lists return `{ counts, next, results }`. `counts` aggregates the whole collection, not the
    page, so a chip is correct on page four. `ordering` follows DRF (`-severity` reverses).
    GETs are ETagged.

    ## Identity

    Every resource is a UUID. `Service` also has a stable `slug` used on public catalog routes,
    because those URLs get shared during an outage.
servers:
  - url: https://statusboard.app/api
tags:
  - name: meta
  - name: auth
  - name: me
  - name: catalog
    description: Public. Services, their components, and incidents.
  - name: board
  - name: refresh

paths:
  /meta/:
    get:
      tags: [meta]
      summary: Server configuration
      description: Deployment-wide values the client needs but does not own — poll interval, page size, the severity map. Not user preferences.
      security: []
      responses:
        '200':
          description: OK
          content: { application/json: { schema: { $ref: '#/components/schemas/Meta' } } }

  /auth/magic-link/:
    post:
      tags: [auth]
      summary: Send a sign-in link
      description: Throttled per email and per IP. Always 202, even for unknown addresses.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, required: [email], properties: { email: { type: string, format: email } } }
      responses:
        '202': { description: Accepted }
        '429': { $ref: '#/components/responses/Throttled' }
  /auth/verify/:
    post:
      tags: [auth]
      summary: Exchange a link token for a token pair
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, required: [token], properties: { token: { type: string } } }
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/TokenPair' } } } }
        '400': { $ref: '#/components/responses/Error' }
  /auth/refresh/:
    post:
      tags: [auth]
      summary: Rotate the refresh token
      security: []
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/TokenPair' } } } }
  /auth/logout/:
    post:
      tags: [auth]
      summary: Blacklist the refresh token
      responses: { '204': { description: No content } }

  /me/:
    get:
      tags: [me]
      summary: The signed-in user
      description: |
        Theme is deliberately absent — it is a per-device choice and lives in that device's local
        storage. Poll interval is absent too; it is deployment-wide, in `/meta/`.
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/Me' } } } }
    delete:
      tags: [me]
      summary: Delete the account
      description: Removes the dashboard, its tracked components and the user. Catalog and status data are untouched — they are not personal.
      responses: { '204': { description: No content } }

  /catalog/services/:
    get:
      tags: [catalog]
      summary: List services
      description: |
        Serves Discover, the suggested lists and the public "down right now" view — one query,
        different parameters.

        With `q`, ordering is relevance. Without it the default is `suggested`, meaning
        `(-is_featured, severity, -watcher_count, name)` — so a mid-popularity service that is
        currently broken outranks a more popular one that is fine.
      security: [{}, { bearer: [] }]
      parameters:
        - { name: q, in: query, schema: { type: string } }
        - { name: severity_lte, in: query, schema: { type: integer, minimum: 0, maximum: 5 }, description: 'Outages chip is severity_lte=3' }
        - { name: severity, in: query, schema: { type: integer, minimum: 0, maximum: 5 }, description: 'Maintenance chip is severity=4' }
        - { name: is_tracked, in: query, schema: { type: boolean }, description: Authenticated only }
        - { name: ordering, in: query, schema: { type: string, enum: [suggested, severity, -severity, name, -name, updated, -updated], default: suggested } }
        - { $ref: '#/components/parameters/PageSize' }
        - { $ref: '#/components/parameters/Cursor' }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties: { results: { type: array, items: { $ref: '#/components/schemas/Service' } } }
    post:
      tags: [catalog]
      summary: Add a service from its status page URL
      description: |
        Sniffs the provider, creates the service and its components if it is new, and returns it.
        Deduped on a normalised URL, so two people pasting the same page get the same service and
        it is polled once.

      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, required: [status_page_url], properties: { status_page_url: { type: string, format: uri } } }
      responses:
        '200': { description: Already in the catalog, content: { application/json: { schema: { $ref: '#/components/schemas/Service' } } } }
        '201': { description: Created, content: { application/json: { schema: { $ref: '#/components/schemas/Service' } } } }
        '422':
          description: No supported status page found there
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }

  /catalog/services/{slug}/:
    get:
      tags: [catalog]
      summary: Service detail
      security: [{}, { bearer: [] }]
      parameters: [{ $ref: '#/components/parameters/Slug' }]
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/ServiceDetail' } } } }
        '404': { $ref: '#/components/responses/Error' }

  /catalog/services/{slug}/components/:
    get:
      tags: [catalog]
      summary: List a service's components
      description: |
        The tree, flattened, with `parent` linking children to groups. The overall component is
        always first. `counts` gives the tab labels — All 42, Tracked 5.
      security: [{}, { bearer: [] }]
      parameters:
        - { $ref: '#/components/parameters/Slug' }
        - { name: is_tracked, in: query, schema: { type: boolean }, description: Drives Showing All / Tracked / Untracked }
        - { name: severity_lte, in: query, schema: { type: integer } }
        - { name: ordering, in: query, schema: { type: string, enum: [provider, severity, -severity, name, -name], default: provider }, description: '`provider` preserves the order the provider publishes' }
        - { $ref: '#/components/parameters/PageSize' }
        - { $ref: '#/components/parameters/Cursor' }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties: { results: { type: array, items: { $ref: '#/components/schemas/Component' } } }

  /catalog/services/{slug}/incidents/:
    get:
      tags: [catalog]
      summary: List a service's incidents
      security: [{}, { bearer: [] }]
      parameters:
        - { $ref: '#/components/parameters/Slug' }
        - { name: state, in: query, schema: { type: string, enum: [active, resolved, all], default: active }, description: '`active` is any incident whose phase is not resolved' }
        - { $ref: '#/components/parameters/PageSize' }
        - { $ref: '#/components/parameters/Cursor' }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties: { results: { type: array, items: { $ref: '#/components/schemas/Incident' } } }

  /dashboards/{uuid}/:
    get:
      tags: [board]
      summary: A dashboard
      description: '`GET /me/` returns your `default_dashboard_id`. There is one per user in v1, and no alias endpoint.'
      parameters: [{ $ref: '#/components/parameters/Uuid' }]
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/Dashboard' } } } }

  /dashboards/{uuid}/components/:
    get:
      tags: [board]
      summary: The components tracked on this dashboard
      description: Filtering, sorting and pagination are server-side without exception — nothing assumes a board is small.
      parameters:
        - { $ref: '#/components/parameters/Uuid' }
        - { name: severity_lte, in: query, schema: { type: integer } }
        - { name: severity, in: query, schema: { type: integer } }
        - { name: ordering, in: query, schema: { type: string, enum: [severity, -severity, name, -name, updated, -updated], default: severity } }
        - { $ref: '#/components/parameters/PageSize' }
        - { $ref: '#/components/parameters/Cursor' }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties: { results: { type: array, items: { $ref: '#/components/schemas/TrackedComponent' } } }
    post:
      tags: [board]
      summary: Track a component
      description: One component per call. Add-all is the client repeating it; there is no bulk variant to choose between.
      parameters: [{ $ref: '#/components/parameters/Uuid' }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, required: [component_id], properties: { component_id: { type: string, format: uuid } } }
      responses:
        '201': { description: Created, content: { application/json: { schema: { $ref: '#/components/schemas/TrackedComponent' } } } }
        '409': { description: Already tracked }

  /dashboards/{uuid}/components/{component_id}/:
    delete:
      tags: [board]
      summary: Stop tracking a component
      description: Addressed by the component's id — the one the client already has from the row it is looking at.
      parameters:
        - { $ref: '#/components/parameters/Uuid' }
        - { name: component_id, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        '204': { description: No content }
        '404': { description: Not tracked }

  /refresh/:
    post:
      tags: [refresh]
      summary: Refresh now
      description: |
        With no body, nudges every service the caller tracks and returns the dashboard's
        components. With `component_id`, nudges just that component's service.

        Either way it skips anything inside its **global per-service cooldown**, waits up to three
        seconds, and returns the same payload the `GET` would. One call, so the client never has
        to guess how long to wait before refetching.

        The cooldown is on the service, not the user or the board: the thing needing protection is
        somebody else's status page, and two boards tracking Twilio should cost one poll.
      requestBody:
        content:
          application/json:
            schema: { type: object, properties: { component_id: { type: string, format: uuid } } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties: { results: { type: array, items: { $ref: '#/components/schemas/TrackedComponent' } } }
        '429': { $ref: '#/components/responses/Throttled' }

components:
  securitySchemes:
    bearer: { type: http, scheme: bearer, bearerFormat: JWT }
  parameters:
    Cursor: { name: cursor, in: query, schema: { type: string }, description: Opaque keyset cursor from `next` }
    PageSize: { name: page_size, in: query, schema: { type: integer, default: 50, minimum: 1, maximum: 200 } }
    Slug: { name: slug, in: path, required: true, schema: { type: string }, example: twilio }
    Uuid: { name: uuid, in: path, required: true, schema: { type: string, format: uuid } }
  responses:
    Throttled:
      description: Rate limited
      headers: { Retry-After: { schema: { type: integer } } }
      content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }
    Error:
      description: Error
      content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }
  schemas:
    Error:
      type: object
      properties:
        code: { type: string, enum: [throttled, provider_unreachable, no_status_page_found, invalid_or_expired_token, not_found] }
        detail: { type: string }
    Meta:
      type: object
      description: Deployment-wide configuration. Nothing here is a user preference.
      properties:
        poll_interval_seconds: { type: integer, example: 300, description: How often the server polls a tracked service }
        refresh_cooldown_seconds: { type: integer, example: 60, description: Minimum gap between manual refreshes of one service, across all users }
        default_page_size: { type: integer, example: 50 }
        max_page_size: { type: integer, example: 200 }
        severity_labels:
          type: object
          additionalProperties: { type: string }
          description: 'The 0–5 map, so the client renders labels from one source: {"0": "Major outage", …}'
    TokenPair:
      type: object
      properties:
        access: { type: string, description: 15 minutes }
        refresh: { type: string, description: 30 days, rotating }
    Me:
      type: object
      properties:
        id: { type: string, format: uuid }
        email: { type: string, format: email }
        default_dashboard_id: { type: string, format: uuid, description: 'Use it on /dashboards/{uuid}/. One per user in v1; the name survives sharing.' }
    Envelope:
      type: object
      properties:
        counts:
          type: object
          description: Aggregated over the whole collection, not the page.
          properties:
            total: { type: integer }
            by_severity:
              type: object
              additionalProperties: { type: integer }
              description: 'Keys are severities 0–5, so the client composes any chip without a new parameter.'
            tracked: { type: integer, nullable: true }
        oldest_refreshed_at: { type: string, format: date-time, nullable: true, description: Across the whole collection. The header renders it, so "2 min ago" means everything is at most two minutes old. }
        next: { type: string, nullable: true }
    Status:
      type: object
      description: |
        The current state a provider reports. Its own model (`ComponentStatus`), so it is nested
        rather than flattened onto its parent — one nested serializer, one model.

        Unrelated to incident phase.
      properties:
        severity: { type: integer, minimum: 0, maximum: 5, description: Lower is worse. Render the label from /meta/ severity_labels. }
        started_at: { type: string, format: date-time, description: When it entered this severity }
        last_refreshed_at: { type: string, format: date-time }
    Service:
      type: object
      properties:
        id: { type: string, format: uuid }
        slug: { type: string }
        name: { type: string }
        logo: { type: string, format: uri, nullable: true }
        component_count: { type: integer }
        active_incident_count: { type: integer }
        status:
          allOf: [{ $ref: '#/components/schemas/Status' }]
          description: "The overall component's status. `source='overall_component.status'`."
        next_maintenance_window:
          allOf: [{ $ref: '#/components/schemas/MaintenanceWindow' }]
          description: The soonest upcoming window across this service's components, or null.
        overall_component_id: { type: string, format: uuid, description: Track this to track the service as a whole. }
        is_tracked: { type: boolean, nullable: true, description: 'Whether the overall component is on your board. Null when unauthenticated, so the client renders ＋ without a second code path.' }
        tracked_component_count: { type: integer, nullable: true, description: How many of this service's components are on your board. }
    ServiceDetail:
      allOf:
        - $ref: '#/components/schemas/Service'
        - type: object
          properties:
            description: { type: string, nullable: true }
            status_page_url: { type: string, format: uri }
            provider: { type: string, enum: [statuspage, instatus, betterstack, rss], description: Which adapter reads this service }
            in_catalog_since: { type: string, format: date }
    Component:
      type: object
      properties:
        id: { type: string, format: uuid, description: Track or untrack this component by this id. }
        name: { type: string, description: '"All services" for the overall component' }
        path: { type: string, nullable: true, example: 'Twilio › Programmable Messaging' }
        parent: { type: string, format: uuid, nullable: true }
        child_count: { type: integer, description: A component is a group when this is above zero. There is no is_group flag. }
        is_overall: { type: boolean, description: The component Statusboard creates per service, carrying the provider's top-level indicator. Always first, parent is null. }
        archived_at: { type: string, format: date-time, nullable: true, description: Set when the provider stops publishing it. The row stays, reads unknown, and says so — deleting it would silently drop it from someone's board. }
        status: { $ref: '#/components/schemas/Status' }
        maintenance_windows:
          type: array
          description: A component can have several scheduled, so this is a list and it lives here rather than on the service.
          items: { $ref: '#/components/schemas/MaintenanceWindow' }
        is_tracked: { type: boolean, nullable: true }
    MaintenanceWindow:
      type: object
      nullable: true
      properties:
        starts_at: { type: string, format: date-time }
        ends_at: { type: string, format: date-time }
        summary: { type: string, nullable: true }
    Incident:
      type: object
      description: A provider's narrative record. `phase` is workflow, not state.
      properties:
        id: { type: string, format: uuid }
        title: { type: string }
        phase: { type: string, enum: [investigating, identified, monitoring, resolved] }
        started_at: { type: string, format: date-time }
        resolved_at: { type: string, format: date-time, nullable: true }
        affected_component_ids: { type: array, items: { type: string, format: uuid } }
        updates:
          type: array
          items:
            type: object
            properties:
              phase: { type: string, enum: [investigating, identified, monitoring, resolved] }
              body: { type: string }
              posted_at: { type: string, format: date-time }
    Dashboard:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        components_url: { type: string, format: uri }
        counts: { type: object, additionalProperties: { type: integer } }
    TrackedComponent:
      allOf:
        - $ref: '#/components/schemas/Component'
        - type: object
          description: A component on a board. Same shape as any component, plus the service it belongs to.
          properties:
            service: { $ref: '#/components/schemas/ServiceRef' }
    ServiceRef:
      type: object
      properties:
        id: { type: string, format: uuid }
        slug: { type: string }
        name: { type: string }
        logo: { type: string, nullable: true }
