openapi: 3.1.0
info:
  title: Statusboard API
  version: 1.0.0
  description: |
    Monitor the status pages of many services in one place.

    ## Everything on a board is a component

    Each service has an overall component. Statusboard creates it. It has `is_overall: true`.
    It carries the provider's own top-level indicator.

    To track a service, track its overall component. To track one part of a service, track that
    component. Both are the same call with a different id.

    ## Severity is the state

    `severity` is an integer from 0 to 5. Lower is worse. This matches the SEV0/SEV1 convention.

    Do not expect a status string. The client renders the label from the number.

    | severity | label |
    |---|---|
    | 0 | Major outage |
    | 1 | Partial outage |
    | 2 | Degraded |
    | 3 | Unknown. The provider was unreachable. |
    | 4 | Maintenance |
    | 5 | Operational |

    Filter severity as a number. `status__severity__lte=3` gives the Outages chip.
    `status__severity=4` gives Maintenance.

    ## Status and incidents are different things

    A severity is the state the provider reports now. An incident is the provider's written
    record: a title, a log, and a workflow `phase`.

    The two move independently. A provider can monitor a fix while every component reads
    operational. A provider can report degraded with no incident open.

    Do not derive one from the other.

    ## One schema, one model

    Every schema maps to one Django model. Nest a related model under a key. Do not flatten it
    into the parent.

    `status` is its own object because `ComponentStatus` is its own table. A `ModelSerializer`
    with a nested serializer produces these shapes directly.

    The rule applies transitively. A `Service` nests its overall component. It does not copy that
    component's status.

    `allOf` marks a serializer that subclasses another over the same model. `ServiceDetail`
    extends `Service`. `TrackedComponent` extends `Component`. `allOf` never merges two models.

    Query parameters use the ORM path. django-filter generates them from `filterset_fields` and
    `ordering_fields`. No `FilterSet` class is necessary.

    The nesting is visible in the URL. Read a field's path in the response body to build its
    filter. This holds for fields added later.

    Four parameters are declared, not generated. They have no ORM path:
    `tracked_component_count__gt`, `overall_component__is_tracked`, `ordering=suggested`, and
    `ordering=next_transition`.

    Model field names are chosen to read well in a URL, because a field name appears in `?fields=`
    and in a filter path.

    ## Conventions

    Every endpoint that returns a body accepts `?fields=`. Name the fields you need, and the
    response contains those only. See the `fields` parameter.

    This is a base serializer and a default filter backend, not per-view code. A view opts out by
    setting `fields_param = None`.

    Lists return `{ aggregates, next, results }`. `aggregates` covers the whole collection, not
    the page. `ordering` follows DRF. Prefix a field with `-` to reverse it. GETs are ETagged.

    ## Identity

    Every resource has a UUID. `Service` also has a stable `slug`. Public catalog routes use the
    slug, because people share those URLs during an outage.
servers:
  - url: https://statusboard.app/api
tags:
  - name: meta
  - name: auth
  - name: me
  - name: catalog
    description: Public. Services, their components, and incidents.
  - name: board
  - name: refresh

paths:
  /meta/:
    get:
      tags: [meta]
      summary: Server configuration
      description: Deployment-wide values the client needs but does not own — poll interval, page size, the severity map. Not user preferences.
      security: []
      parameters:
        - { $ref: '#/components/parameters/Fields' }
      responses:
        '200':
          description: OK
          content: { application/json: { schema: { $ref: '#/components/schemas/Meta' } } }

  /auth/magic-link/:
    post:
      tags: [auth]
      summary: Send a sign-in link
      description: Throttled per email and per IP. Always 202, even for unknown addresses.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, required: [email], properties: { email: { type: string, format: email } } }
      responses:
        '202': { description: Accepted }
        '429': { $ref: '#/components/responses/Throttled' }
  /auth/verify/:
    post:
      tags: [auth]
      summary: Exchange a link token for a token pair
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, required: [token], properties: { token: { type: string } } }
      parameters:
        - { $ref: '#/components/parameters/Fields' }
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/TokenPair' } } } }
        '400': { $ref: '#/components/responses/Error' }
  /auth/refresh/:
    post:
      tags: [auth]
      summary: Rotate the refresh token
      security: []
      parameters:
        - { $ref: '#/components/parameters/Fields' }
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/TokenPair' } } } }
  /auth/logout/:
    post:
      tags: [auth]
      summary: Blacklist the refresh token
      responses: { '204': { description: No content } }

  /me/:
    get:
      tags: [me]
      summary: The signed-in user
      description: |
        This resource has no theme field. Theme is per device. Store it in local storage.
        Poll interval is deployment-wide. Read it from `/meta/`.
      parameters:
        - { $ref: '#/components/parameters/Fields' }
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/Me' } } } }
    delete:
      tags: [me]
      summary: Delete the account
      description: Removes the dashboard, its tracked components and the user. Catalog and status data are untouched — they are not personal.
      responses: { '204': { description: No content } }

  /catalog/services/:
    get:
      tags: [catalog]
      summary: List services
      description: |
        This endpoint serves Discover, the suggested lists, and the public "down right now" view.
        Use parameters to select the view.

        With `q`, results are ordered by relevance. Without `q`, the default ordering is
        `suggested`: `(-is_featured, severity, -watcher_count, name)`. A broken service outranks a
        more popular service that is working.
      security: [{}, { bearer: [] }]
      parameters:
        - { name: q, in: query, schema: { type: string } }
        - { name: overall_component__status__severity__lte, in: query, schema: { type: integer, minimum: 0, maximum: 5 }, description: 'Outages chip. A service''s severity is its overall component''s, so the path runs through it.' }
        - { name: overall_component__status__severity, in: query, schema: { type: integer, minimum: 0, maximum: 5 }, description: 'Maintenance chip is =4' }
        - { name: tracked_component_count__gt, in: query, schema: { type: integer }, description: 'Authenticated only. `__gt=0` is "on my board at all" — the Tracked filter on Discover.' }
        - { name: overall_component__is_tracked, in: query, schema: { type: boolean }, description: 'Authenticated only. Narrower: whether the overall component specifically is tracked, which is what the ＋ on a service row toggles.' }
        - { name: ordering, in: query, schema: { type: string, enum: [suggested, overall_component__status__severity, -overall_component__status__severity, name, -name, updated_at, -updated_at], default: suggested } }
        - { $ref: '#/components/parameters/PageSize' }
        - { $ref: '#/components/parameters/Cursor' }
        - { $ref: '#/components/parameters/Fields' }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      aggregates: { $ref: '#/components/schemas/StatusAggregates' }
                      results: { type: array, items: { $ref: '#/components/schemas/Service' } }

  /catalog/import/:
    post:
      tags: [catalog]
      summary: Import a service from its status page URL
      description: |
        The importer detects the provider. If the service is new, it creates the service and its
        components.

        Services are deduplicated on a normalised URL. One status page gives one service and one
        poll.
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, required: [status_page_url], properties: { status_page_url: { type: string, format: uri } } }
      parameters:
        - { $ref: '#/components/parameters/Fields' }
      responses:
        '200':
          description: The URL resolves to a service already in the catalog
          content: { application/json: { schema: { $ref: '#/components/schemas/Import' } } }
        '201':
          description: Service created
          content: { application/json: { schema: { $ref: '#/components/schemas/Import' } } }
        '422':
          description: No supported status page found at that URL
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }

  /catalog/services/{slug}/:
    get:
      tags: [catalog]
      summary: Service detail
      security: [{}, { bearer: [] }]
      parameters: [{ $ref: '#/components/parameters/Slug' }]
      parameters:
        - { $ref: '#/components/parameters/Fields' }
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/ServiceDetail' } } } }
        '404': { $ref: '#/components/responses/Error' }

  /catalog/services/{slug}/components/:
    get:
      tags: [catalog]
      summary: List a service's components
      description: |
        The component tree, flattened. `parent` links a child to its group. The overall component
        is first. `aggregates` gives the tab labels.
      security: [{}, { bearer: [] }]
      parameters:
        - { $ref: '#/components/parameters/Slug' }
        - { name: is_tracked, in: query, schema: { type: boolean }, description: Drives Showing All / Tracked / Untracked }
        - { name: status__severity__lte, in: query, schema: { type: integer } }
        - { name: status__severity, in: query, schema: { type: integer } }
        - { name: ordering, in: query, schema: { type: string, enum: [status_page_order, status__severity, -status__severity, name, -name], default: status_page_order }, description: '`status_page_order` keeps the order the status page lists them in.' }
        - { $ref: '#/components/parameters/PageSize' }
        - { $ref: '#/components/parameters/Cursor' }
        - { $ref: '#/components/parameters/Fields' }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      aggregates: { $ref: '#/components/schemas/StatusAggregates' }
                      results: { type: array, items: { $ref: '#/components/schemas/Component' } }

  /catalog/services/{slug}/incidents/:
    get:
      tags: [catalog]
      summary: List a service's incidents
      security: [{}, { bearer: [] }]
      parameters:
        - { $ref: '#/components/parameters/Slug' }
        - { name: resolved_at__isnull, in: query, schema: { type: boolean }, description: '`true` is the active set. Omit for all.' }
        - { name: phase, in: query, schema: { type: string, enum: [investigating, identified, monitoring, resolved] } }
        - { name: phase__in, in: query, schema: { type: string }, description: Comma-separated, django-filter's `in` lookup }
        - { name: ordering, in: query, schema: { type: string, enum: [-started_at, started_at], default: -started_at } }
        - { $ref: '#/components/parameters/PageSize' }
        - { $ref: '#/components/parameters/Cursor' }
        - { $ref: '#/components/parameters/Fields' }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      aggregates: { $ref: '#/components/schemas/IncidentAggregates' }
                      results: { type: array, items: { $ref: '#/components/schemas/Incident' } }

  /dashboards/{uuid}/:
    get:
      tags: [board]
      summary: A dashboard
      description: '`GET /me/` returns your `default_dashboard_id`. There is one per user in v1, and no alias endpoint.'
      parameters: [{ $ref: '#/components/parameters/Uuid' }]
      parameters:
        - { $ref: '#/components/parameters/Fields' }
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/Dashboard' } } } }

  /dashboards/{uuid}/components/:
    get:
      tags: [board]
      summary: The components tracked on this dashboard
      description: Filtering, sorting and pagination are server-side without exception — nothing assumes a board is small.
      parameters:
        - { $ref: '#/components/parameters/Uuid' }
        - { name: status__severity__lte, in: query, schema: { type: integer } }
        - { name: status__severity, in: query, schema: { type: integer } }
        - name: ordering
          in: query
          schema: { type: string, enum: [status__severity, -status__severity, name, -name, updated_at, -updated_at, next_transition], default: status__severity }
          description: |
            `next_transition` sorts the Maintenance tab. It uses `ends_at` for a running window
            and `starts_at` for one that has not started. Running windows sort first. This
            ordering is declared, not generated.
        - { $ref: '#/components/parameters/PageSize' }
        - { $ref: '#/components/parameters/Cursor' }
        - { $ref: '#/components/parameters/Fields' }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      aggregates: { $ref: '#/components/schemas/StatusAggregates' }
                      results: { type: array, items: { $ref: '#/components/schemas/TrackedComponent' } }
    post:
      tags: [board]
      summary: Track a component
      description: One component per call. Add-all is the client repeating it; there is no bulk variant to choose between.
      parameters: [{ $ref: '#/components/parameters/Uuid' }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, required: [component_id], properties: { component_id: { type: string, format: uuid } } }
      parameters:
        - { $ref: '#/components/parameters/Fields' }
      responses:
        '201': { description: Created, content: { application/json: { schema: { $ref: '#/components/schemas/TrackedComponent' } } } }
        '409': { description: Already tracked }

  /dashboards/{uuid}/components/{component_id}/:
    delete:
      tags: [board]
      summary: Stop tracking a component
      description: Addressed by the component's id — the one the client already has from the row it is looking at.
      parameters:
        - { $ref: '#/components/parameters/Uuid' }
        - { name: component_id, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        '204': { description: No content }
        '404': { description: Not tracked }

  /refresh/:
    post:
      tags: [refresh]
      summary: Refresh now
      description: |
        With no body, this refreshes every service the caller tracks. With `component_id`, it
        refreshes that component's service only.

        The endpoint skips any service inside its cooldown. It waits up to three seconds. It
        returns the same payload as the `GET`. Do not refetch after the call.

        The cooldown is global and per service. Two boards that track one service cost one poll.
      requestBody:
        content:
          application/json:
            schema: { type: object, properties: { component_id: { type: string, format: uuid } } }
      parameters:
        - { $ref: '#/components/parameters/Fields' }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      aggregates: { $ref: '#/components/schemas/StatusAggregates' }
                      results: { type: array, items: { $ref: '#/components/schemas/TrackedComponent' } }
        '429': { $ref: '#/components/responses/Throttled' }

components:
  securitySchemes:
    bearer: { type: http, scheme: bearer, bearerFormat: JWT }
  parameters:
    Cursor: { name: cursor, in: query, schema: { type: string }, description: Opaque keyset cursor from `next` }
    Fields:
      name: fields
      in: query
      required: false
      schema: { type: string }
      example: id,name,overall_component.status.severity
      description: |
        Comma-separated list of fields to return. Omit to get every field.

        Use a dotted path for a nested field. `overall_component.status.severity` returns
        `overall_component` containing `status` containing `severity` only.

        A path that names an unknown field returns `400`.
    PageSize: { name: page_size, in: query, schema: { type: integer, default: 50, minimum: 1, maximum: 200 } }
    Slug: { name: slug, in: path, required: true, schema: { type: string }, example: twilio }
    Uuid: { name: uuid, in: path, required: true, schema: { type: string, format: uuid } }
  responses:
    Throttled:
      description: Rate limited
      headers: { Retry-After: { schema: { type: integer } } }
      content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }
    Error:
      description: Error
      content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }
  schemas:
    Import:
      type: object
      description: One attempt to turn a status page URL into a service.
      properties:
        id: { type: string, format: uuid }
        status_page_url: { type: string, format: uri, description: The URL as submitted. }
        created: { type: boolean, description: True if this import created the service. }
        service: { $ref: '#/components/schemas/Service' }
    Error:
      type: object
      properties:
        code: { type: string, enum: [throttled, provider_unreachable, no_status_page_found, invalid_or_expired_token, not_found] }
        detail: { type: string }
    Meta:
      type: object
      description: Deployment-wide configuration. Nothing here is a user preference.
      properties:
        poll_interval_seconds:
          type: integer
          example: 300
          description: |
            The default interval for a healthy service. Settings shows it.

            A single service can differ. Read `ServiceDetail.poll_interval_seconds` for that
            service's effective interval.
        refresh_cooldown_seconds: { type: integer, example: 60, description: Minimum gap between manual refreshes of one service, across all users }
        default_page_size: { type: integer, example: 50 }
        max_page_size: { type: integer, example: 200 }
        severity_labels:
          type: object
          additionalProperties: { type: string }
          description: 'The 0–5 map, so the client renders labels from one source: {"0": "Major outage", …}'
    TokenPair:
      type: object
      properties:
        access: { type: string, description: 15 minutes }
        refresh: { type: string, description: 30 days, rotating }
    Me:
      type: object
      properties:
        id: { type: string, format: uuid }
        email: { type: string, format: email }
        default_dashboard_id: { type: string, format: uuid, description: 'Use it on /dashboards/{uuid}/. One per user in v1; the name survives sharing.' }
    Envelope:
      type: object
      description: |
        Every list response has the same three keys. `aggregates` covers the whole collection.
        `results` is the page. `next` is the cursor.

        A list endpoint keeps this envelope and supplies its own `aggregates` schema. See
        `StatusAggregates` and `IncidentAggregates`.

        Do not add a collection-wide value at the top level. Put it in `aggregates`.
      properties:
        aggregates:
          allOf: [{ $ref: '#/components/schemas/Aggregates' }]
          description: Replaced by the endpoint's own aggregate schema.
        next: { type: string, nullable: true }
    Aggregates:
      type: object
      description: |
        The base every aggregate block shares. An endpoint extends it. Read `aggregates.total`
        without knowing the endpoint.
      properties:
        total: { type: integer, description: Size of the whole collection, not the page. }
    StatusAggregates:
      allOf:
        - $ref: '#/components/schemas/Aggregates'
        - type: object
          description: For any list of things that carry a status — services, components, a board.
          properties:
            by_severity:
              type: object
              additionalProperties: { type: integer }
              description: 'Keys are severities 0–5, so the client composes any chip without a new parameter.'
            tracked: { type: integer, nullable: true, description: Authenticated only. }
            oldest_refreshed_at:
              type: string
              format: date-time
              nullable: true
              description: |
                The oldest refresh time in the collection. The header shows it. "2 min ago" means
                no item is older than two minutes. This covers the whole collection, not the page.
    IncidentAggregates:
      allOf:
        - $ref: '#/components/schemas/Aggregates'
        - type: object
          properties:
            by_phase:
              type: object
              additionalProperties: { type: integer }
              description: Keys are the four phases; the Incidents tab count is the sum of the three unresolved ones.
    Status:
      type: object
      description: |
        The state the provider reports now. This is its own model, `ComponentStatus`, so it is
        nested. It is unrelated to incident phase.
      properties:
        severity: { type: integer, minimum: 0, maximum: 5, description: Lower is worse. Render the label from /meta/ severity_labels. }
        started_at: { type: string, format: date-time, description: When it entered this severity }
        last_refreshed_at: { type: string, format: date-time }
    Service:
      type: object
      properties:
        id: { type: string, format: uuid }
        slug: { type: string }
        name: { type: string }
        logo:
          type: string
          format: uri
          nullable: true
          description: |
            The poller takes this from the provider's page. It uses the favicon or `og:image`.

            The poller discards a favicon that belongs to the parent company and not the product.
            The field is then null. The client shows the service initial instead.
        component_count: { type: integer }
        active_incident_count: { type: integer }
        status_page_url: { type: string, format: uri }
        status_page_provider:
          type: string
          enum: [statuspage, instatus, betterstack, rss]
          description: |
            The adapter that reads this service. The client maps the value to a display name:
            `statuspage` is "Atlassian Statuspage", `instatus` is "Instatus", `betterstack` is
            "Better Stack", `rss` is "RSS feed".
        overall_component:
          allOf: [{ $ref: '#/components/schemas/OverallComponent' }]
          description: |
            The service's own status *is* its overall component's, so this is that component
            rather than a copy of its fields. One FK, one nested serializer.
        next_maintenance_window:
          allOf: [{ $ref: '#/components/schemas/MaintenanceWindow' }]
          description: The soonest upcoming window across this service's components, or null.
        tracked_component_count:
          type: integer
          nullable: true
          description: |
            The number of this service's components on your board. The overall component counts.

            A value above 0 means the service is on your board. This differs from
            `overall_component.is_tracked`, which covers the overall component only.
    ServiceDetail:
      allOf:
        - $ref: '#/components/schemas/Service'
        - type: object
          properties:
            description: { type: string, nullable: true }
            in_catalog_since: { type: string, format: date }
            poll_interval_seconds:
              type: integer
              description: |
                How often this service is polled now. The About tab shows it as "Refreshed every".

                This is the effective interval, not the deployment default. A service that fails
                backs off, so its interval grows. Read `/meta/` for the default; read this for
                what is happening to this service.
    Component:
      type: object
      properties:
        id: { type: string, format: uuid, description: Track or untrack this component by this id. }
        name:
          type: string
          description: |
            The component's own name. For the overall component it is `"All services"`.

            Use this name on a service screen. On a board row, show the service name instead, with
            `"Overall status"` below it. Select with `is_overall`. The API sends one name only.
        path: { type: string, nullable: true, example: 'Twilio › Programmable Messaging' }
        parent: { type: string, format: uuid, nullable: true }
        child_count: { type: integer, description: A component is a group when this is above zero. There is no is_group flag. }
        is_overall: { type: boolean, description: The component Statusboard creates per service, carrying the provider's top-level indicator. Always first, parent is null. }
        archived_at: { type: string, format: date-time, nullable: true, description: Set when the provider stops publishing it. The row stays, reads unknown, and says so — deleting it would silently drop it from someone's board. }
        status: { $ref: '#/components/schemas/Status' }
        maintenance_windows:
          type: array
          description: A component can have several scheduled, so this is a list and it lives here rather than on the service.
          items: { $ref: '#/components/schemas/MaintenanceWindow' }
        is_tracked: { type: boolean, nullable: true }
    OverallComponent:
      type: object
      description: |
        The overall component as it appears on its parent service. This is a subset of
        `Component`: the id, the status, and whether you track it.

        Read severity at `overall_component.status.severity`. The filter uses the same path.
      properties:
        id: { type: string, format: uuid, description: Track this to track the service as a whole. }
        status: { $ref: '#/components/schemas/Status' }
        is_tracked: { type: boolean, nullable: true, description: Null when unauthenticated, so the client renders ＋ without a second code path. }
    MaintenanceWindow:
      type: object
      nullable: true
      description: |
        Times are absolute. The client shows them relative. Show `in 4 hrs` before the window
        starts. Show `ends in 40 min` while it runs.

        Show the window in the duration slot. Do not show a second time on the line below.
      properties:
        starts_at: { type: string, format: date-time }
        ends_at: { type: string, format: date-time }
        summary: { type: string, nullable: true }
    Incident:
      type: object
      description: A provider's narrative record. `phase` is workflow, not state.
      properties:
        id: { type: string, format: uuid }
        title: { type: string }
        phase: { type: string, enum: [investigating, identified, monitoring, resolved] }
        started_at: { type: string, format: date-time }
        resolved_at: { type: string, format: date-time, nullable: true }
        affected_component_ids: { type: array, items: { type: string, format: uuid } }
        updates:
          type: array
          items:
            type: object
            properties:
              phase: { type: string, enum: [investigating, identified, monitoring, resolved] }
              body: { type: string }
              posted_at: { type: string, format: date-time }
    Dashboard:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        components_url: { type: string, format: uri }
        aggregates:
          allOf: [{ $ref: '#/components/schemas/StatusAggregates' }]
          description: |
            The same block the board's list returns. Draw the chips before the first page
            arrives. `aggregates` means the same on a resource as on a list.
    TrackedComponent:
      allOf:
        - $ref: '#/components/schemas/Component'
        - type: object
          description: A component on a board. Same shape as any component, plus the service it belongs to.
          properties:
            service: { $ref: '#/components/schemas/ServiceRef' }
    ServiceRef:
      type: object
      properties:
        id: { type: string, format: uuid }
        slug: { type: string }
        name: { type: string }
        logo: { type: string, nullable: true }
